<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/head")%>
    <title>About Us page</title>
  </head>
  <body >
    <%- include("../partials/nav_bar") %>
    <main class = 'wrapper'>
      <div class="workshop-name">
        <h1>About Us</h1>
      </div>  
      <p>Welcome to the Mastering Procrastination Workshop, where we embrace the art of procrastination 
         with a twist – our goal is to help you get better at it! We understand that procrastination is a 
         universal challenge, and instead of fighting against it, we believe in harnessing its power for 
         personal growth and productivity.</p>

        <h2>Our Mission</h2>

        <p>At the Mastering Procrastination Workshop, our mission is to transform the way you perceive and 
           engage with procrastination. We aim to provide you with unique strategies and practical tools to 
           turn procrastination into a powerful ally on your journey towards increased productivity, creativity, 
           and overall well-being.</p>

        <h2>What Sets Us Apart</h2>

        <ol>
            <li>Positive Procrastination Approach:</li>
              <p>
                We don't view procrastination as the enemy. Instead, we see it as an untapped source of potential. Our workshops focus on reframing your relationship with procrastination, turning it into a positive force in your life.
              </p>
            <li>Expert Guidance:</li>
              <p>Our team of experienced facilitators consists of experts in psychology, time management, and personal development. They bring a wealth of knowledge to help you navigate the intricacies of procrastination and channel it towards your goals.</p>
            <li>Interactive Workshops:              </li>
              <p>Forget about traditional lectures! Our workshops are highly interactive, featuring engaging activities and discussions that encourage active participation. We believe in learning by doing, and our workshops are designed to be both informative and enjoyable.</p>
            <li>Tailored Strategies:</li>
              <p>We understand that procrastination manifests differently for everyone. That's why our workshops provide a range of tailored strategies to address your unique challenges. Whether you're a chronic procrastinator or a occasional dawdler, our approach is customizable to meet your needs.</p>
            <li>Supportive Community:</li>
              <p>Join a community of like-minded individuals who, like you, are looking to master the art of procrastination. Share your experiences, learn from others, and build a support network that will inspire you to stay on track.</p>

        </ol>

        <h2>What to Expect</h2>
        <ul>
          <li>Insightful Discussions</li>
            <p>Engage in thought-provoking discussions about the psychology behind procrastination and discover how it can be a valuable tool for self-discovery.</p>
          <li>Practical Techniques</li>
            <p>Learn a variety of practical techniques to manage and leverage procrastination, turning it into a catalyst for creativity and enhanced productivity.</p>
          <li>Unpersonalized Action Plans</li>
            <p>Walk away with a personalized action plan that suits your unique style and preferences, ensuring that you can apply what you've learned in your daily life.</p>
          <li>Ongoing Support</li>
            <p>Our commitment doesn't end with the workshop. Enjoy access to resources, follow-up sessions, and a community forum to ensure you have the ongoing support needed to continue your journey towards mastering procrastination.</p>
        </ul>

        <p>Embrace the procrastinator in you and join us at the Mastering Procrastination Workshop. Together, let's turn procrastination from a hindrance into a powerful force for personal and professional success!</p>

    </main>
  </body>
</html>
