<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/head")%>
    <title>About Us page</title>
  </head>
  <body >
    <%- include("../partials/nav_bar") %>
    <main class = 'wrapper'>
      <div class="workshop-name">
        <h1>About Us</h1>
      </div>  
    </main>
  </body>
</html>
