<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/head")%>
    <title>Help page</title>
  </head>
  <body class = 'wrapper'>
    <%- include("../partials/nav_bar") %>
    <main>
      <div class="workshop-name">
        <h1>Contact Us</h1>
      </div>

      <p>If you have any questions or would like to learn more about our workshops, feel free to contact us:</p>

      <address>
          Email: info@procrastinationworkshop.com<br>
          Phone: (123) 456-7890
      </address>
    </main>
    <footer class="footer">
      &copy; 2023 Procrastination Workshop. All rights reserved.
    </footer>
  </body>
</html>
