<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/head")%>
    <title>Help page</title>
  </head>
  <body class = 'wrapper'>
    <%- include("../partials/nav_bar") %>
    <main>
      
        </div>
      </div>
    </main>
  </body>
</html>
